﻿
@{
    ViewBag.Title = "Index";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <div>
        <form action="/home/index" method="post">
            <div> 
                <input type="text" name="user_name" placeholder="User Name"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="Password" />
            </div>
            <button><a href="/home/order">Submit</a></button>
        </form>
    </div>
</body>
</html>
