﻿
@{
    ViewBag.Title = "Order";
}
<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="/home/Order" method="post">
        <div>
            <label>DateOfBirth</label>
            <input type="date" name="dob" />
        </div>
        <div>
            <label>Amount</label>
            <input type="number" name="amount"/>
        </div>
        <div>
            <label>Number of Orders</label>
            <input type="number" name="orders"/>
        </div>
        <div>
            <label>Total</label>
            <input type="number" name="total"/>
        </div>
        <button><a href="/home/result">Order</a></button>
    </form>
</body>
</html>


